<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>CRM</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Главная</a>
            </li>
            {% for i in application.breadcrumbs %}
                {% if loop.last %}
                    <li class="active">
                        <strong>{{ i.name | raw }}</strong>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ i.url }}">{{ i.name | raw }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>