{% extends 'layout.twig' %}

{% block content %}
    <div class="wrapper wrapper-content  animated fadeInRight">
{#        <div class="row">#}
{#            <div class="ibox">#}
{#                <div class="ibox-title">#}
{#                    <h2>Добро пожаловать!</h2>#}
{#                    <small>Текущие события:</small>#}
{#                </div>#}
{#                <div class="ibox-content">#}
{#                    <ul class="list-group clear-list m-t">#}
{#                        <li class="list-group-item fist-item"><span class="label label-primary">1</span>Новых задач</li>#}
{#                        <li class="list-group-item fist-item"><span class="label label-success">1</span>Новых заказов</li>#}
{#                        <li class="list-group-item fist-item"><span class="label label-primary">1</span>Заказов на отправку</li>#}
{#                        <li class="list-group-item fist-item"><span class="label label-default">1</span>И тд</li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <div class="row  border-bottom white-bg dashboard-header">
            <div class="col-md-3">
                <h2>Добро пожаловать!</h2>
                <small>Текущие события:</small>
                <ul class="list-group clear-list m-t">
                    <li class="list-group-item fist-item"><span class="label label-primary">{{ task }}</span>Новых задач</li>
{#                    <li class="list-group-item fist-item"><span class="label label-success">1</span>Новых заказов</li>#}
{#                    <li class="list-group-item fist-item"><span class="label label-primary">1</span>Заказов на отправку</li>#}
{#                    <li class="list-group-item fist-item"><span class="label label-default">1</span>И тд</li>#}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}