{% extends 'layout.twig' %}

{% block content %}
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row  border-bottom white-bg dashboard-header">
            <div class="row">
                Страница не найдена
            </div>
        </div>
    </div>
{% endblock %}