{% extends 'layout.twig' %}

{% block content %}
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row  border-bottom white-bg dashboard-header">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>Дата</th>
                                <th>Номер заказа</th>
                                <th>Статус заказа</th>
                                <th>Итого</th>
                            </tr>
                            {% for i in orders %}
                                <tr>
                                    <td>{{ i.created | date('d m Y') }}</td>
                                    <td>{{ i.number }}</td>
                                    <td>{{ i.getStatus.name }}</td>
                                    <td>{{ i.getTotalPrice }} руб.</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}