* {margin: 0;  padding: 0; list-style: none; outline: none; box-sizing: border-box;}
body{font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif; background: url("../images/background.png") no-repeat scroll center center / 100% 100%}
body{background: #133959 }
body{background-attachment: fixed}
.clear{clear: both}

.h-5{height: 5px}.h-10{height: 10px}.h-15{height: 15px}.h-20{height: 20px}.h-25{height: 25px}
.h-30{height: 30px}.h-35{height: 35px}.h-40{height: 40px}.h-45{height: 45px}.h-50{height: 50px}
.h-55{height: 55px}.h-60{height: 60px}.h-65{height: 65px}.h-70{height: 70px}.h-75{height: 75px}
.h-80{height: 80px}.h-85{height: 85px}.h-90{height: 90px}.h-95{height: 95px}.h-100{height: 100px}

.tt-u{text-transform: uppercase}
.td-u{text-decoration: underline}
.td-u:hover{text-decoration: underline;cursor: pointer}
.tt-n{text-transform: none}
.ta-l{text-align: left}.ta-r{text-align: right}.ta-c{text-align: center}
.fw-b{font-weight: bold}

.menu{background-color: #133959; height: 50px; margin: 0 10px 10px 10px;background: url("../images/menu.png") no-repeat scroll center center / 100% 100%}
.menu ul li{  list-style: none;  float: left;  border-right: 1px solid #0e2c44;  border-left: 1px solid #2B5A74; line-height: 50px; padding-left: 10px; padding-right: 10px}
.menu ul li:hover{background-color: rgba(59, 142, 174, 0.51)}
.menu ul li.active{background-color: rgba(59, 142, 174, 0.51)}

.page{margin: 10px;padding: 25px 0 10px 20px; text-transform: uppercase;}
.page h1{ color: #fff; font-size: 14px}
h2{color: #fff; font-size: 14px; padding: 10px}
h2 span{color: #F09B22 }

a.remove{color: #fff}

.menu ul li a{text-decoration: none; color: #fff; text-transform: uppercase; font-size: 11px; min-height: 50px; display: block; font-weight: bold}
.menu ul li a i{color: #82D5FF}
.menu ul li:first-child a{font-size: 30px}

.template{background-color: rgba(0,0,0,0.2); margin: 10px; padding: 10px; padding-bottom: 50px}

.breadcrumbs{background-color: rgba(0,0,0,0.2); height: 35px; margin: 0 10px 0 10px}
.breadcrumbs ul li{list-style: none;  float: left; line-height: 35px; padding-left: 9px;text-transform: uppercase; color: #fff; font-size: 10px;}
.breadcrumbs ul li a{text-decoration: none; color: #fff; text-transform: uppercase; font-size: 9px; height: 35px; display: block; font-weight: bold}

.btn-set{background-color: rgba(0,0,0,0.2); margin: auto; height: 35px}
.btn-set a{font-size: 12px;line-height: 35px;padding: 0 10px 0 10px;height: 35px;display: block;float: left;color: #fff; text-decoration: none;}
.btn-set a:hover{background-color: rgba(0, 0, 0, 0.72)}
.btn-set select {  height: 35px; background-color: transparent; border: none; color: #fff; font-size: 12px; line-height: 35px; cursor: pointer;padding: 0 10px 0 10px;}
.btn-set select:hover{background-color: #000;}
.btn-set select option{background-color: #000; border: none; outline: none; font-size: 12px; line-height: 35px; padding: 0 10px 0 10px;}

.tree .down{background-color: rgba(0,0,0,0.2); height: 35px}


/*category tree*/
.tree{margin: 10px;}
.tree .up{background-color: rgba(0,0,0,0.2); height: 35px;}

.tree .mid > div{min-height: 600px; float: left; margin: 0;}
.tree .mid > div:first-child{width: 30%; overflow-x: hidden; overflow-y: auto; padding: 10px; background-color: rgba(0, 0, 0, 0.1)
}
.tree .mid > div:first-child ul li{color: #fff; text-decoration: none; font-size: 12px; width: 100%; margin: 5px}
.tree .mid > div:first-child ul li:hover{background-color: rgba(0, 0, 0, 0.46); cursor: pointer}
.tree .mid > div:first-child ul li.active{background-color: #000;}
.tree .mid > div:first-child ul li:before{
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    background: url("../images/folder.png") no-repeat scroll center center;
    background-size: 17px;
    margin-left: -20px;
}

.tree .mid > div:last-child{padding: 10px}

.inline-input{margin-bottom: 5px}
.inline-input input[type="text"]{border: none; background-color: rgba(0,0,0,0.2); height: 25px; color: #fff}
.inline-input select { min-width: 200px; height: 25px; background-color: rgba(0,0,0,0.2); border: none; color: #fff; font-size: 12px; line-height: 25px; cursor: pointer;}
.inline-input select option{background-color: #000; border: none; outline: none; font-size: 12px; line-height: 25px; color: #fff}


















