*{  margin: 0;  padding: 0;  box-sizing: border-box;  text-decoration: none;  outline: none;  list-style: none;  }
html{height: 100%;}
body{height: 100%; overflow: hidden}

/*main css*/
.container{height: 100%;}
i.fa.badge::after{z-index: 1;  content: "";  position: absolute;  width: 15px;  height: 15px;  border-radius: 50%;  background-color: #ff3700;  margin-right: 25px;  margin-top: 0;  margin-left: -10px;  }
table.menu{width: 100%; height: 100%; position: absolute; border-collapse: collapse}
table.menu tr{height: 22.5%}
table.menu tr td{ width: 20%; height: 23%; background-color: #000}
table.menu tr td .page{overflow-x: hidden;overflow-y: auto;height: 100%; background-color: #fff; border-left: 1px solid rgb(213,213,213);  border-bottom: 1px solid #999;  border-right: 1px solid #999;  border-top: 1px solid rgb(213,213,213);}
table.menu tr:last-child{height: 10%;}
table.menu tr:last-child td{height: 8%; border: none; border-bottom: 1px solid #000}
table.menu tr:last-child td .page{border: 1px solid #000}

.btn{width: 100%;height: 100%; border: none; outline: none; background-color: #B8B8B8; font-size: 40px; color: #000000  }
.btn:active{border: 1px solid #000}
.btn:focus{border: 1px solid #000}

.mbtn{width: 100%;height: 100%; border: 1px solid #000; outline: none; background-color: #000; font-size: 30px; color: #fff}
.mbtn:active{background-color: #292929}

ul.screen{height: 100%; width: 1000%; font-size: 0; transition: margin-left 0.5s; background-color: #b8b8b8}
ul.screen > li{display: inline-block; width: 10%;height: 100%; vertical-align: top; font-size: 12px;}

/*category*/















