{% extends 'layout.twig' %}
{% block content %}
    <div class="bread">
        <h4>КОРЗИНА ТОВАРОВ</h4>
        <div class="phone-book"><a href="/korzina-tovarov/">Корзина товаров</a></div>
    </div>
    <div class="cart">

    </div>
{% endblock %}