{% extends 'layout.twig' %}
{% block content %}
    <style>
        h1, .h1 {
            padding: 25px 0;
            color: #488ca6;
            font: 15px "Calibri";
            text-transform: uppercase;
            font-weight: bold;
        }
        .contacts-l-tab {
            margin-bottom: 25px;
        }
        .contacts-bar p {
            line-height: 20px;
        }
        .contacts-bar p a{
            font-size: 16px;
        }

    </style>


    <div class="contacts-bar clearfix">
        <div>
            <h1>Контакты</h1><div class="contacts-l-tab">
                <p><b>Адрес:</b></p>
                <p>Офис, склад(самовывоз): г. Москва, проезд Одоевского дом 2А, вход № 2, 5 этаж, офис 5041.</p>
            </div>
            <div class="contacts-l-tab">
                <p><b>Контактный телефон: </b></p>
                <p>+7 (495) 923-98-78 (офис)</p>
                <p>+7 (985) 433-20-84 (склад c 9-00 -18-00)</p>
            </div>
            <div class="contacts-l-tab">
                <p><b>Электронная почта:</b></p>
                <p>ecopackingmsk@gmail.com (основная почта)</p>
                <p>buxecopackingmsk@mail.ru (бухгалтерия)</p>
                <p>info@ecopacking.ru (по вопросам рекламы)</p>
                <p><a href="https://www.instagram.com/ecopacking.ru/">https://www.instagram.com/ecopacking.ru</a>/</p>
                <p><a href="https://www.facebook.com/profile.php?id=100010990998235">https://www.facebook.com/profile.php?id=100010990998235</a></p>
            </div>
        </div>
        <div>
            <div class="h1">Схема проезда</div>

            <div class="maps-here">
                <div style="position:relative;overflow:hidden;"><a
                            href="https://yandex.ru/maps/org/ekopaking/223896796296/?utm_medium=mapframe&utm_source=maps"
                            style="color:#eee;font-size:12px;position:absolute;top:0px;">Экопакинг</a><a
                            href="https://yandex.ru/maps/213/moscow/category/packing_materials/184106936/?utm_medium=mapframe&utm_source=maps"
                            style="color:#eee;font-size:12px;position:absolute;top:14px;">Тара и упаковочные материалы в
                        Москве</a><a
                            href="https://yandex.ru/maps/213/moscow/category/disposable_tableware/184107971/?utm_medium=mapframe&utm_source=maps"
                            style="color:#eee;font-size:12px;position:absolute;top:28px;">Одноразовая посуда в
                        Москве</a>
                    <iframe src="https://yandex.ru/map-widget/v1/?ll=37.503361%2C55.604163&mode=search&oid=223896796296&ol=biz&z=13.31"
                            width="100%" height="400" frameborder="1" allowfullscreen="true"
                            style="position:relative;"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}