{% extends 'layout.twig' %}
{% block content %}
    <div class="content-right-wp">
        <div class="bread">
            <h1 id="title">Доставка</h1>
            <div class="phone-book"><a href="/korzina-tovarov/">Корзина товаров</a></div>
        </div>
        <div class="summernote-content" style="font-size: 18px">

            <b>Время работы:</b>
            <p>Понедельник – пятница с 9:00 до 18:00</p>
            <p>Суббота, только доставка.</p>
            <br>
            <p>Способы оформления заказов:</p>

            <p><b>-на сайте</b></p>
            <p><b>-по телефону +7 (495) 923-98-78 или +7 (985)-433-20-84</b></p>
            <p><b>-по электронной почте ecopackingmsk@gmail.com</b></p>
            <br>
            <p><b>Условия доставки:</b></p>
            Бесплатная доставка по г. Москве (в пределах МКАД) осуществляется при заказе от 6000 рублей.
            <br>
            При заказе от 3000 руб до 6000 руб - сумма доставки 500 руб.
            <br>
            Заказы менее 3000 руб отгружаются только самовывозом.
            <br>
            Доставка осуществляется в рабочие дни и субботу с 10:00 до 19:00.
            <br>
            Доставка осуществляется до адреса или склада клиента.
            <br>
            При размещении заказа доставка выполняется через один рабочий день.
            <br>
            <br>
            <b>Возможен самовывоз с нашего склада по адресу:</b>
            <br>
            1. Москва, проезд Одоевского, 2А, вход №2, 5 этаж, офис № 5041
            <br>
            Доставка в регионы РФ возможна через транспортные компании.
            <p><span style="font-size: x-large;"><br></span></p>
            <br>
            <p><span style="font-size: x-large;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></p>
        </div>

    </div>
{% endblock %}