{% extends 'layout.twig' %}

{% block content %}
    <div class="row">
        <div class="slider-cont">
            <div class="index-slider">
                <div><a href="/"><img src="http://ecopacking.ru/userfiles/bs/codelen-petaca-chips-kraft_19.jpg" alt=""></a></div>
                <div><a href="/"><img src="http://ecopacking.ru/userfiles/bs/codelen-petaca-chips-kraft_19.jpg" alt=""></a></div>
                <div><a href="/"><img src="http://ecopacking.ru/userfiles/bs/codelen-petaca-chips-kraft_19.jpg" alt=""></a></div>
                <div><a href="/"><img src="http://ecopacking.ru/userfiles/bs/codelen-petaca-chips-kraft_19.jpg" alt=""></a></div>
                <div><a href="/"><img src="http://ecopacking.ru/userfiles/bs/codelen-petaca-chips-kraft_19.jpg" alt=""></a></div>
                <div><a href="/"><img src="http://ecopacking.ru/userfiles/bs/codelen-petaca-chips-kraft_19.jpg" alt=""></a></div>
            </div>
{#            <div id="index-slider-next" class="index-slider-next"><img src="/site/img/partner_r.png" alt=""></div>#}
{#            <div id="index-slider-prev" class="index-slider-prev"><img src="/site/img/partner_l.png" alt=""></div>#}
        </div>
    </div>

{#    <div class="owl-carousel owl-theme">#}
{#        <div class="item"><h4>1</h4></div>#}
{#        <div class="item"><h4>2</h4></div>#}
{#        <div class="item"><h4>3</h4></div>#}
{#        <div class="item"><h4>4</h4></div>#}
{#        <div class="item"><h4>5</h4></div>#}
{#        <div class="item"><h4>6</h4></div>#}
{#        <div class="item"><h4>7</h4></div>#}
{#        <div class="item"><h4>8</h4></div>#}
{#        <div class="item"><h4>9</h4></div>#}
{#        <div class="item"><h4>10</h4></div>#}
{#        <div class="item"><h4>11</h4></div>#}
{#        <div class="item"><h4>12</h4></div>#}
{#    </div>#}
{#    {{dump(global)}}#}

{#    http://ecopacking.ru/userfiles/bs/codelen-petaca-chips-kraft_19.jpg#}
{% endblock %}