{% extends 'layout.twig' %}

{% block content %}
    <div class="row">
        <div class="slider-cont">
            <div class="index-slider">
                <div class="slide" style="object-fit: cover"><a href="/katalog-tovarov/korobochka-dlya-edy-15015090-quotkraftquot"><img src="/files/index-slider/banner-burger-boks_11.jpg" alt=""></a></div>
                <div class="slide" style="object-fit: cover"><a href="/katalog-tovarov/supnitsa-s-kryshkoj-300ml-belaya-eco-soup-12w"><img src="/files/index-slider/168009_15.jpg" alt=""></a></div>
                <div class="slide" style="object-fit: cover"><a href="/katalog-tovarov/kartonnyj-kontejner-s-plastikovoj-kryshkoj-750ml-quotkraftquot"><img src="/files/index-slider/162671_17.jpg" alt=""></a></div>
                <div class="slide" style="object-fit: cover"><a href="/katalog-tovarov/upakovka-dlya-salata/kartonnyj-kontejner-s-plastikovoj-kryshkoj-750ml-quotkraftquot"><img src="/files/index-slider/green-business-plan-business-presentation-2_21.jpg" alt=""></a></div>
                <div class="slide" style="object-fit: cover"><a href="/katalog-tovarov/upakovka-dlya-fast-fuda/korobka-dlya-kartofelyafri-150180gr-bolshaya-eco-fry-l"><img src="/files/index-slider/img_7349_18.jpg" alt=""></a></div>
                <div class="slide" style="object-fit: cover"><a href="/katalog-tovarov/upakovka-dlya-fast-fuda/korobka-dlya-kartofelyafri-150180gr-bolshaya-eco-fry-l"><img src="/files/index-slider/codelen-petaca-chips-kraft_19.jpg" alt=""></a></div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="index-head">Наша продукция</h2>
        <ul class="index-catalog">
            <li>
                <a href="/">
                    <img src="http://www.ecopacking.ru/userfiles/menu/preview/1438_upakovka-dlya-salata.png" alt="">
                    <p>Бумажные стаканы с индивидуальным дизайном</p>
                </a>
            </li>
            <li>
                <a href="/">
                    <img src="http://www.ecopacking.ru/userfiles/menu/preview/1438_upakovka-dlya-salata.png" alt="">
                    <p>Бумажные стаканы с индивидуальным дизайном</p>
                </a>
            </li>
            <li>
                <a href="/">
                    <img src="http://www.ecopacking.ru/userfiles/menu/preview/1438_upakovka-dlya-salata.png" alt="">
                    <p>Бумажные стаканы с индивидуальным дизайном</p>
                </a>
            </li>
            <li>
                <a href="/">
                    <img src="http://www.ecopacking.ru/userfiles/menu/preview/1438_upakovka-dlya-salata.png" alt="">
                    <p>Бумажные стаканы с индивидуальным дизайном</p>
                </a>
            </li>
            <li>
                <a href="/">
                    <img src="http://www.ecopacking.ru/userfiles/menu/preview/1438_upakovka-dlya-salata.png" alt="">
                    <p>Бумажные стаканы с индивидуальным дизайном</p>
                </a>
            </li>
            <li>
                <a href="/">
                    <img src="http://www.ecopacking.ru/userfiles/menu/preview/1438_upakovka-dlya-salata.png" alt="">
                    <p>Бумажные стаканы с индивидуальным дизайном</p>
                </a>
            </li>
            <li>
                <a href="/">
                    <img src="http://www.ecopacking.ru/userfiles/menu/preview/1438_upakovka-dlya-salata.png" alt="">
                    <p>Бумажные стаканы с индивидуальным дизайном</p>
                </a>
            </li>
            <li>
                <a href="/">
                    <img src="http://www.ecopacking.ru/userfiles/menu/preview/1438_upakovka-dlya-salata.png" alt="">
                    <p>Бумажные стаканы с индивидуальным дизайном</p>
                </a>
            </li>
            <li>
                <a href="/">
                    <img src="http://www.ecopacking.ru/userfiles/menu/preview/1438_upakovka-dlya-salata.png" alt="">
                    <p>Бумажные стаканы с индивидуальным дизайном</p>
                </a>
            </li>
            <li>
                <a href="/">
                    <img src="http://www.ecopacking.ru/userfiles/menu/preview/1438_upakovka-dlya-salata.png" alt="">
                    <p>Бумажные стаканы с индивидуальным дизайном</p>
                </a>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="row">
        <div class="index-news">
            <h2 class="index-head">Новости</h2>
            <ul>
                <li>
                    <p class="date">31 декабря</p>
                    <p class="name">режим работы в новогодние праздники 2018 года</p>
                    <p class="text">Уважаемые клиенты, поздравляем Вас с новым годом и рождеством! Сообщаем Вам.что мы работаем для
                        Вас 3-5 января,далее с 9-го.</p>
                    <p><a href="/">Подробнее</a></p>
                </li>
                <li>
                    <p class="date">31 декабря</p>
                    <p class="name">режим работы в новогодние праздники 2018 года</p>
                    <p class="text">Уважаемые клиенты, поздравляем Вас с новым годом и рождеством! Сообщаем Вам.что мы работаем для
                        Вас 3-5 января,далее с 9-го.</p>
                    <p><a href="/">Подробнее</a></p>
                </li>
                <li>
                    <p class="date">31 декабря</p>
                    <p class="name">режим работы в новогодние праздники 2018 года</p>
                    <p class="text">Уважаемые клиенты, поздравляем Вас с новым годом и рождеством! Сообщаем Вам.что мы работаем для
                        Вас 3-5 января,далее с 9-го.</p>
                    <p><a href="/">Подробнее</a></p>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="row">
        <div class="slider-partner">
            <h2 class="index-head">Партнеры</h2>
            <div class="slider-cont">
                <div class="index-slider">
                    <div class="slide"><a href="/shit"><img src="http://ecopacking.ru/userfiles/bs/codelen-petaca-chips-kraft_19.jpg" alt=""></a></div>
                    <div class="slide"><a href="/"><img src="http://ecopacking.ru/userfiles/bs/codelen-petaca-chips-kraft_19.jpg" alt=""></a></div>
                    <div class="slide"><a href="/"><img src="http://ecopacking.ru/userfiles/bs/codelen-petaca-chips-kraft_19.jpg" alt=""></a></div>
                    <div class="slide"><a href="/"><img src="http://ecopacking.ru/userfiles/bs/codelen-petaca-chips-kraft_19.jpg" alt=""></a></div>
                    <div class="slide"><a href="/"><img src="http://ecopacking.ru/userfiles/bs/codelen-petaca-chips-kraft_19.jpg" alt=""></a></div>
                    <div class="slide"><a href="/"><img src="http://ecopacking.ru/userfiles/bs/codelen-petaca-chips-kraft_19.jpg" alt=""></a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}