{% extends 'layout.twig' %}

{% block content %}
    <div class="row">
        <div class="slider-cont">
            <div class="index-slider">
                {% for i in slider %}
                    <div class="slide" style="object-fit: cover"><a href="{{ i.link }}"><img src="/files/{{ i.image }}" alt=""></a></div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="index-head">Наша продукция</h2>
        <ul class="index-catalog main">
            <li>
                <a href="/katalog-tovarov/bumazhnye-stakany-s-logotipom">
                    <img src="/files/mini/2016_bumazhnye-stakany-s-individ.png" alt="">
                    <p>Бумажные стаканы с индивидуальным дизайном</p>
                </a>
            </li>
            <li>
                <a href="/katalog-tovarov/upakovka-dlya-quotfastfoodquot-c-dizajnom">
                    <img src="/files/mini/1950_upakovka-dlya-fastfood-c-dizayn.png" alt="">
                    <p>Картонная упаковка для "fastfood" c дизайном</p>
                </a>
            </li>
            <li>
                <a href="/katalog-tovarov/upakovka-dlya-pervykh-blyud">
                    <img src="/files/mini/1608_upakovka-dlya-pervykh-blyud.png" alt="">
                    <p>Упаковка для первых блюд</p>
                </a>
            </li>
            <li>
                <a href="/katalog-tovarov/upakovka-dlya-salata">
                    <img src="/files/mini/1438_upakovka-dlya-salata.png" alt="">
                    <p>Упаковка для салата</p>
                </a>
            </li>
            <li>
                <a href="/katalog-tovarov/upakovka-dlya-sendvichejbuterbrodov">
                    <img src="/files/mini/1709_-dlya-sendvicheyrollov.png" alt="">
                    <p> для сэндвичей/роллов</p>
                </a>
            </li>
            <li>
                <a href="/katalog-tovarov/konditerskaya-upakovka">
                    <img src="/files/mini/1700_konditerskaya-upakovka.png" alt="">
                    <p>Кондитерская упаковка</p>
                </a>
            </li>
            <li>
                <a href="/katalog-tovarov/upakovka-quotaziatskaya-kukhnyaquot">
                    <img src="/files/mini/1857_upakovka-black.png" alt="">
                    <p>Упаковка "АЗИАТСКАЯ КУХНЯ"</p>
                </a>
            </li>
            <li>
                <a href="/katalog-tovarov/plastikovye-kontejnery">
                    <img src="/files/mini/1952_upakovka-kraft.png" alt="">
                    <p>Упаковка "КРАФТ"</p>
                </a>
            </li>
            <li>
                <a href="/katalog-tovarov/nakleykitermoetiketki-s-pechatyu">
                    <img src="/files/mini/1800_nakleykitermoetiketki-s-p.png" alt="">
                    <p>Наклейки/Термоэтикетки с печатью</p>
                </a>
            </li>
            <li>
                <a href="/katalog-tovarov/bytovaya-khimiya">
                    <img src="/files/mini/1242_bytovaya-khimiya.png" alt="">
                    <p>Бытовая химия</p>
                </a>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="row">
        <div class="index-news">
            <h2 class="index-head">Новости</h2>
            <ul>
                <li>
                    <p class="date">31 декабря</p>
                    <p class="name">режим работы в новогодние праздники 2018 года</p>
                    <p class="text">Уважаемые клиенты, поздравляем Вас с новым годом и рождеством! Сообщаем Вам.что мы работаем для
                        Вас 3-5 января,далее с 9-го.</p>
                    <p><a href="/">Подробнее</a></p>
                </li>
                <li>
                    <p class="date">04 июля</p>
                    <p class="name">Двухслойные стаканы "красные"</p>
                    <p class="text"></p>
                    <p><a href="/">Подробнее</a></p>
                </li>
                <li>
                    <p class="date">10 января</p>
                    <p class="name">Акция на бумажные стаканы для горячих напитков</p>
                    <p class="text"></p>
                    <p><a href="/">Подробнее</a></p>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
{#    <div class="row">#}
{#        <div class="slider-partner">#}
{#            <h2 class="index-head">Партнеры</h2>#}
{#            <div class="slider-cont">#}
{#                <div class="index-slider">#}
{#                    <div class="slide"><a href="/shit"><img src="http://ecopacking.ru/userfiles/bs/codelen-petaca-chips-kraft_19.jpg" alt=""></a></div>#}
{#                    <div class="slide"><a href="/"><img src="http://ecopacking.ru/userfiles/bs/codelen-petaca-chips-kraft_19.jpg" alt=""></a></div>#}
{#                    <div class="slide"><a href="/"><img src="http://ecopacking.ru/userfiles/bs/codelen-petaca-chips-kraft_19.jpg" alt=""></a></div>#}
{#                    <div class="slide"><a href="/"><img src="http://ecopacking.ru/userfiles/bs/codelen-petaca-chips-kraft_19.jpg" alt=""></a></div>#}
{#                    <div class="slide"><a href="/"><img src="http://ecopacking.ru/userfiles/bs/codelen-petaca-chips-kraft_19.jpg" alt=""></a></div>#}
{#                    <div class="slide"><a href="/"><img src="http://ecopacking.ru/userfiles/bs/codelen-petaca-chips-kraft_19.jpg" alt=""></a></div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}