{% extends 'layout.twig' %}
{% block content %}
    <div class="content-right-wp">
        <div class="bread">
            <h4 id="title">Вакансии</h4>
            <div class="phone-book"><a href="/korzina-tovarov/">Корзина товаров</a></div>
        </div>
        <div class="summernote-content">
            <p>Требуется менеджер по продажам.</p>
            <p>Условия:</p>
            <p>График работы с 10.00 до 18.30‚ 5/2‚ сб.вс. – выходные</p>
            <p>Оформление по ТК РФ</p>
            <p>З/п (оклад + % от продаж )</p>
            <br>
            <p>Обязанности:</p>
            <p>Активный поиск‚ холодные звонки</p>
            <p>Подготовка коммерческих предложений</p>
            <p>Заключение договоров</p>
            <p>Выставление счетов</p>
            <p>Контроль оплаты</p>
            <p>Требования:</p>
            <p>Опыт работы в продажах приветствуется</p>
            <p>Уверенный пользователь ПК</p>
            <p>Опыт работы на должности менеджера по продажам</p>
            <p>Наличие авто не требуется</p>
        </div>
    </div>

{% endblock %}