<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/site/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="/site/style.css">
</head>
<body>

<header>
    <div class="cont">
        <ul class="header">
            <li><img src="/site/img/logo.png" alt=""></li>
            <li>
                <form class="fts_search" action="">
                    <label for="fts_search">Поиск по товарам</label>
                    <input id="fts_search" placeholder="Название/Артикул" name="fts_search" type="text">
                    <input type="submit" value="Найти">
                </form>
            </li>
            <li>
                <div class="left"><img src="/site/img/icon-101.png" alt=""></div>
                <div class="right">
                    <div class="up"><a href="#">Бесплатная консультация</a></div>
                    <div class="down">Проконсультируйтесь on-line</div>
                </div>
                <div class="clear"></div>
            </li>
            <li>
                <div class="left"><img src="/site/img/icon-102.png" alt=""></div>
                <div class="right">
                    <div class="up"><a href="#">+7 (495) 923-98-78</a></div>
                    <div class="down">Заказать звонок</div>
                </div>
                <div class="clear"></div>
            </li>
            <li>
                <div class="left"><img src="/site/img/icon-103.png" alt=""></div>
                <div class="right">
                    <div class="up"><a href="#">Как к нам проехать</a></div>
                    <div class="down">Показать на карте</div>
                </div>
                <div class="clear"></div>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="cont">
        <div class="cart"><a href="">Корзина</a> товаров <span>0</span> на <span>0.00</span> руб.</div>
        <div class="clear"></div>
    </div>
    <div class="cont">
        <div class="menu">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/">О компании</a></li>
                <li><a href="/">Новости</a></li>
                <li><a href="/">Доставка</a></li>
                <li><a href="/">Вакансии</a></li>
                <li><a href="/">Контакты</a></li>
                <li><a href="/">Скачать прайс</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</header>
<section>
    <div class="cont">
        <div class="catalog">
            <h2>КАТАЛОГ ПРОДУКЦИИ</h2>
            <ul>
                <li>
                    <a href="/">Бумажные стаканы</a>
{#                    <ul>#}
{#                        <li><a href="/">Однослойные стаканы</a></li>#}
{#                        <li><a href="/">Однослойные стаканы</a></li>#}
{#                        <li><a href="/">Однослойные стаканы</a></li>#}
{#                        <li><a href="/">Однослойные стаканы</a></li>#}
{#                    </ul>#}
                </li>
                <li>
                    <a href="/">Бумажные стаканы 2</a>
                </li>
                <li>
                    <a href="/">Бумажные стаканы 3</a>
                    <ul>
                        <li><a href="/">Однослойные стаканы 3</a></li>
                        <li><a href="/">Однослойные стаканы 3</a></li>
                        <li><a href="/">Однослойные стаканы 3</a></li>
                        <li><a href="/">Однослойные стаканы 3</a></li>
                        <li><a href="/">Однослойные стаканы 3</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/">Бумажные стаканы 4</a>
                </li>
            </ul>
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <div class="clear"></div>
    </div>
</section>
<footer>
    <div class="cont">
        <div class="left">
            <h2>КОМПАНИЯ</h2>
            <ul>
                <li><a href="/">Контакты</a></li>
                <li><a href="/">Вакансии</a></li>
                <li><a href="/">Доставка</a></li>
                <li><a href="/">Как сделать заказ</a></li>
            </ul>
        </div>
        <div class="mid">
            <h2>ПРОДУКЦИЯ</h2>
            <ul>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
                <li><a href="">Бумажные стаканы</a></li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="right">
            <h2>МЫ В СОЦИАЛЬНЫХ СЕТЯХ</h2>
            <div class="media"><img src="/site/img/twitter.png" alt=""></div>
            <div class="media"><img src="/site/img/f-icon.png" alt=""></div>
            <div class="clear"></div>
            <p style="padding-left: 40px"><a style="color: #fff" href="">https://www.instagram.com/ecopacking.ru</a></p>
            <p style="padding-left: 40px; color: #fff">2020 г.</p>
        </div>
        <div class="clear"></div>
    </div>
</footer>
<script src="/site/script.js"></script>
</body>
</html>