{% extends 'layout.twig' %}
{% block content %}
    <div class="product-single">
        <div class="product">
            <div class="left">
                <img src="/files/{{ product.image }}" alt="">
            </div>
            <div class="right">
                <h1 class="name">{{ product.name | raw }}</h1>
                <form action="/submit" class="form-withlogo" method="post">
                    <div class="withlogo-row">
                        <label for="">Тираж, шт<span>*</span>:</label>
                        <select name="count" id="">
                            <option value="3000">от 3 000</option>
                            <option value="5000">от 5 000</option>
                            <option value="10000">от 10 000</option>
                            <option value="15000">от 15 000</option>
                            <option value="20000">от 20 000</option>
                            <option value="25000">от 25 000</option>
                            <option value="30000">от 30 000</option>
                            <option value="50000">от 50 000</option>
                            <option value="100000">от 100 000</option>
                        </select>
                    </div>
                    <div class="withlogo-row">
                        <label for="">Красочность печати(CMYK,Pantone 6+0):</label>
                        <input name="color" type="text">
                    </div>
                    <div class="withlogo-row">
                        <label for="">Ваше имя<span>*</span>:</label>
                        <input name="name" type="text">
                    </div>
                    <div class="withlogo-row">
                        <label for="">Ваш телефон<span>*</span>:</label>
                        <input name="phone" type="text">
                    </div>
                    <div class="withlogo-row">
                        <label for="">Ваш e-mail<span>*</span>:</label>
                        <input name="email" type="text">
                    </div>
                    <div class="withlogo-row">
                        <label for="">Комментарий:</label>
                        <textarea name="comment" id="" cols="30" rows="10"></textarea>
                    </div>
                    <div class="withlogo-row">
                        <button type="submit" name="submit" value="custom_print">Отправить</button>
                    </div>
                    <div class="withlogo-row">
                        <label for=""><span>*</span> - Поля, обязательные для заполнения</label>
                    </div>
                </form>
                <div class="params">
                    <div class="shop_param"><span class="td_fir"><span>Количество товара в коробке</span></span><span
                                class="shop_param_value">500 штук</span></div>
                    <div class="shop_param"><span class="td_fir"><span>Количество товара в упаковке</span></span><span
                                class="shop_param_value">25 шт.</span></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="product">
            <div class="params-name">Характеристики:</div>
            <div class="params">
                <div class="shop_param"><span class="td_fir"><span>Количество товара в коробке</span></span><span
                            class="shop_param_value">500 штук</span></div>
                <div class="shop_param"><span class="td_fir"><span>Количество товара в упаковке</span></span><span
                            class="shop_param_value">25 шт.</span></div>
            </div>
        </div>
    </div>
    <div class="bread">
        <h4>С ЭТИМ ТОВАРОМ ОБЫЧНО ПОКУПАЮТ</h4>
    </div>
    <ul class="index-catalog product">
        <li>
            <span class="product">
                <a href="/">
                    <div class="img">
                        <img class="image" src="http://ecopacking.ru/userfiles/shop/preview/1839_plastik-stakan-pivnoy-500ml-.png" alt="">
                    </div>
                    <span class="name">asdasd</span>
                </a>
                <span class="price">Цена: <i>123.5 руб.</i></span>
                <span class="count">
                    <span class="price-cont">
                        <input type="text" value="50">
                        <span class="plus">+</span>
                        <span class="minus">-</span>
                    </span>
                </span>
                <span class="cart-add">в корзину</span>
            </span>
        </li>
    </ul>

    <div class="clear"></div>
{% endblock %}