<h1>#Источник данных для: {{ set.name }}</h1>

<div class="cont">
    <form action="/admin/import/load/{{ set.id }}" id="import" enctype="multipart/form-data" method="post">

        <p>Файл</p>
        <table class="std_table">
            <tr>
                <td><input type="file" name="file"></td>
            </tr>
        </table>

        <p>Ссылка</p>
        <table class="std_table">
            <tr>
                <td><input type="text" name="url"></td>
            </tr>
        </table>

        <table class="std_table">
            <tr>
                <td><button type="button" class="btn blue" data-event="import_load_source" id="{{ set.id }}">Сохранить / Изменить</button></td>
            </tr>
        </table>
        {% if set.location is not empty %}
            <table class="std_table">
                <tr>
                    <td><button type="button" class="btn blue" data-event="import_setup" id="{{ set.id }}">Использовать существующий</button></td>
                </tr>
            </table>
        {% endif %}
    </form>
</div>






































