<h1>#Фильтры</h1>

<table class="std_table">
    <tr>
        <td>
            <button data-event="shit" type="button" class="btn">1</button>
        </td>
    </tr>
    <tr>
        <td>
            <button data-event="shit2" type="button" class="btn">2</button>
        </td>
    </tr>
    <tr>
        <td>
            <button data-event="shit3" type="button" class="btn">3</button>
        </td>
    </tr>
    <tr>
        <td>
            <button data-event="shit4" type="button" class="btn">4</button>
        </td>
    </tr>
    <tr>
        <td>
            <button data-event="shit5" type="button" class="btn">5</button>
        </td>
    </tr>
</table>

