html, body{background-color: #323232; height: 100%; min-height: 100%; font-family: Verdana, sans-serif}
.wrapper{height: 100%; min-height: 100%; background-color: #323232}
.cont{width: 960px; margin: auto}
.form{
    width: 400px;
    height: 205px;
    background-color: rgb(237,237,237);
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 200px);
    border: 1px solid #F09B22;
    border-radius: 5px;
}
.form input[type="text"], .form input[type="password"]{
    display: block;
    width: 90%;
    height: 40px;
    margin: auto;
}

.form input[type="submit"]{
    display: block;
    width: 40%;
    height: 40px;
    margin: auto;
    background-color: #F09B22;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}